.blogCardContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
 }
  @media screen and (max-width:1100px) {
    .blogCardContainer{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       gap: 20px;
    }
  }
 
  /* blogCardAnimation */
 
  .blog-project-card-shadow{
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: 3px 3px 5px #00AB78;
    animation: blog-card-shadow-bg 1.0s ease-in infinite ;
 }
 
 
 @keyframes blog-card-shadow-bg{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 15px #00AB78;
    }
    100%{
        box-shadow: none;
    }
 }
 
 
 