.cardShadow{
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: 3px 3px 5px #00000059, -3px -3px 5px #f8f8f823;
}

.cardShadow:hover {
    box-shadow: 3px 3px 5px #00AB78;
    animation: cardShadow-bg 1.0s ease-in infinite ;
}

@keyframes cardShadow-bg{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 15px #00AB78;
    }
    100%{
        box-shadow: none;
    }
}



/* .cardShadow:hover {
    box-shadow: 5px 5px 25px #44b2dd23;
} */